{% extends "layout.html" %}

{% block title %}
	Rachel's Book Review | Login
{% endblock %}

{% block heading %}
	<h1>Welcome back!</h1>
	<h3>Please login:</h3>
{% endblock %}

{% block body %}
	<form action="{{ url_for('returninguser') }}" method="post">
	
        <input class="form-control" name="username" placeholder="Username">
		<input class="form-control" type="password" name="password" placeholder="Password">
        <button class="form-button">Login</button>
		
    </form>
{% endblock %}