{% extends "layout.html" %}

{% block title %}
	Rachel's Book Review | Register
{% endblock %}

{% block heading %}
	<h1>Welcome to Rachel's Book Review!</h1>
	<h3>Let's register to get started:</h3>
{% endblock %}

{% block body %}

	<form action="{{ url_for('newuser') }}" method="post">
	
        <input class="form-control" name="username" placeholder="Username">
		<input class="form-control" name="email" placeholder="Email">
		<input class="form-control" type="password" name="password" placeholder="Password">
		<input class="form-control" type="password" name="confirm" placeholder="Confirm Password">
        <button class="form-button">Register</button>
		
    </form>
	<br>
	
	<!-- Provide link to login page for existing members -->
	<p><a href="{{ url_for('login') }}">Already a member?</a></p>
	
{% endblock %}