{% extends "layout.html" %}

{% block title %}
	Rachel's Book Review | Search
{% endblock %}

{% block heading %}
	<h1>Search for a book by author, title, or ISBN:</h1>
{% endblock %}

{% block body %}

	<form action="{{ url_for('results') }}" method="post">
		
		<input type="text" class="form-control" placeholder="Search by ISBN" name="isbn">
		<input type="text" class="form-control" placeholder="Search by author" name="author">
        <input type="text" class="form-control" placeholder="Search by title" name="title">
		<button class="form-button">Search </button>
		
    </form>
{% endblock %}